.github {
    margin-left: 15%;
    margin-top: 1%;
    overflow: scroll;
    border: black solid;
}


.projects_title {
    font-size: 53px;
    font-family: 'Coolvetica';
    color: #ffd700;
    margin-top: 5%;
    padding-top: 3%;
}

.projects {
    font-size: medium;
    color: #ffd700;
    margin-left: 5%;

}



.projects_list {
    display: flex;
    flex-wrap: wrap;
    

}
.web_shots {
    width: 250px;
    margin: 10%;

}

.name_pic{
    display: flex;
    justify-content: c;
    margin-right: 5%;
}
