
.github{
    font-size: x-large;
    margin-left: 25%;
    display: flex;
flex-direction: column;    
overflow: visible;
overflow: scroll;
}

.projects{
    font-size: medium;
}

.web_shots{
    width: 200px;
}