// .self{
//     display: flex;
//     justify-content: flex-end;
//     margin-top: -100px;
//     margin-left: auto
// }

// .about{
//     font-size: large;
// }
// .skills{
//     display: flex;
//     justify-content: row;
// }


// .title{
//     margin-top: 100px;
// }
.about-layout{

    margin-top: -10;
    margin-left: 15%;
    .about{
        font-family: 20px;
        color: #fff;
        font-family: 'sans-serif';
    }
    .title{
        font-size: 53px;
            font-family: 'Coolvetica';
            color: #ffd700;
    }

}

.skill_layout{
    display: flex;
    flex-wrap: wrap;

}

.skill_image{
    width: 25%;
}

.skills{
    font-size: 20px;
    color: #ffd700;
}